html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contains image and text divs */
main {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

/* the header image on mobile */
#image-m {
  background-image: linear-gradient(rgba(66, 11, 100, 0.6), rgba(66, 11, 100, 0.6)), url(./images/image-header-mobile.jpg);
  width: 100%;
  height: 30vh;
  display: flex;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter:saturate(1.3);
  margin-top: 1em;
}

/* the header image on desktop */
#image-d {
  background-image: linear-gradient(rgba(66, 11, 100, 0.6), rgba(66, 11, 100, 0.6)), url(./images/image-header-mobile.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 0 8px 8px 0;
  background-repeat: no-repeat;
  display: none;
  width: 100%;
}

/* the text box */
#text {
  background-color: hsl(244, 38%, 16%);
  border-radius: 0 0 8px 8px;
  text-align: center;
}

/* tagline */
h2 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-family: "Lexend Deca", sans-serif;
  padding: 0 1em 0 1em;
  font-size: 1.8em;
  letter-spacing: .9px;
}

/* the word "insights" */
#insights {
  display: inline;
  color: hsl(277, 64%, 61%);
}

/* the paragraph */
#text p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;
  padding: 0 2em 1em 2em;
  opacity: 60%;
  line-height: 1.6em;
}

/* the box around the stats */
#stats {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Inter", sans-serif;
}

.word {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 0 2em 0;
}

.number {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 24px;
  padding: 0 0 0.4em 0;
}

/* attribution from Frontend Mentor */
.attribution {
  display: none;
}


@media only screen
and (min-width: 700px)
and (max-width: 1800px) {
  main {
    flex-direction: row;
    width: 80%;
  }
  #text {
    border-radius: 8px 0 0 8px;
    padding: 3.5em;
  }
  #text p {
    text-align: left;
    width: 80%;
    margin-bottom: 3em;
    padding: 0;
  }
  #image-m {
    display: none;
  }
  #image-d {
    display: flex;
    float: right;
    width: 100%;
    min-height: 55vh;
  }
  /* the tagline */
  h2 {
    font-size: 3em;
    font-size: 1.9em;
    text-align: left;
    padding: 0;
    width: 75%;
  }
  #stats {
    padding-top: 2em;
    text-align: left;
  }
  /* the card around each stat and label */
  #card {
    display: inline-flex;
    flex-direction: column;
    width: 32%;
  }
}
